.wrap {
  background: #f1f1f1;
  border-radius: 10px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.visibleWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invisibleWrap {
  display: none;
}
.editBlock {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
}

.editContentBlock {
  width: 95%;
}

.editTextInput {
  width: 100%;
  border-radius: 10px;
}

.editManagerBlock {
  display: flex;
  justify-content: flex-end;
  width: 5%;
}

.settingsWrap {
  width: 100%;
}